<section class="last">
  <div class="container">
    <p class="last-descr">
      90% всех строительных и&nbsp;земельных контрактов заканчиваются спорами, разрешить которые позволяет
    </p>
    <div class="last-title__block">
      <h2 class="last-title">Экспертиза</h2>
      <p class="last-descr__block">От качества ее проведения и от экспертности компании-исполнител будет зависеть
        результат</p>
    </div>
    <div class="form">
      <div class="form-left">
        <ul class="form-list list-reset">
          <li class="form-items form-items--start">Строительно-техническая</li>
          <li class="form-items form-items--mid">Землеустроительная</li>
          <li class="form-items form-items--end">Оценочная</li>
        </ul>
      </div>
      <div class="form-body">
        <form method="POST" action="#">
          <label>
            <p class="form-block__descr">В&nbsp;некоторых случаях вы&nbsp;можете <span>получить предварительную оценку</span> вашей ситуации у&nbsp;эксперта</p>
          </label>
          <div class="form-group">
            <label>Имя</label>
            <input type="text" name="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="">Телефон <span>(Обязательно)</span></label>
            <input type="tel" name="phone" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="">Email <span>(Обязательно)</span></label>
            <input type="email" name="email" class="form-control" required>
          </div>
          <div class="form-btn button">
            <button type="submit" class="btn-reset">ПОЛУЧИТЬ ОЦЕНКУ</button>
          </div>
        </form>
        </form>
      </div>
  </div>
</section>
