<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo"><img src="../img/logo.png" alt="логотип Экспертпро"></a>
    <nav class="nav">
      <ul class="header-list list-reset">
        <li class="header-items header-items--location">
          <svg width="15px" height="15px" fill="#fff">
            <use xlink:href="img/sprite.svg#loc"></use>
          </svg>
          <a href="#" class="header-links">
              Северо-Кавказский и Южный&nbsp;Федеральный&nbsp;округ
          </a>
        </li>
        <li class="header-items header-items--tel">
          <svg width="15px" height="15px" fill="#fff">
            <use xlink:href="img/sprite.svg#tel"></use>
          </svg>
            <a class="header-links" href="tel:+79624545010">8 (962) <span>434-50-10</span></a>
            <a class="header-links" href="tel:+79188670983">8 (968) <span>867-09-83</span></a>
        </li>
        <li class="header-items header-items--callback">
            <a href="#" class="header-links">
              Заказать обратный звонок
            </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
