<section class="hero">
  <div class="container hero-container">
    <div class="hero-left">
      <h1 class="hero-title">
        Качественное проведение <span>Независимых Экспертиз</span> На&nbsp;любом&nbsp;этапе юридического спора
      </h1>
      <ul class="hero-list list-reset">
        <li class="hero-items">
          <svg width="15px" height="15px" fill="#bf9037">
            <use xlink:href="img/sprite.svg#dot"></use>
          </svg> до суда
        </li>
        <li class="hero-items">
          <svg width="15px" height="15px" fill="#bf9037">
            <use xlink:href="img/sprite.svg#dot"></use>
          </svg> на суде
        </li>
        <li class="hero-items">
          <svg width="15px" height="15px" fill="#bf9037">
            <use xlink:href="img/sprite.svg#dot"></use>
          </svg> рецензирование заключений
        </li>
      </ul>
      <button class="hero-btn btn-reset">Заказать экспертизу</button>
    </div>
    <div class="hero-right">
      <h2 class="hero-title--h2">
        Абанеев Никита Юрьевич
      </h2>
      <p class="hero-descr">
        <ul class="descr-list list-reset">
          <li class="descr-items">Управляющий парнер,</li>
          <li class="descr-items">ведущий эксперт-землеустроитель,</li>
          <li class="descr-items">эксперт-строитель</li>
        </ul>
      </p>
    </div>
  </div>
</section>
