<header class="header">
  <div class="container">
    <div class="header-block__top">
      <a href="#" class="logo"><img src="../img/logo.svg" alt="logo impex life"></a>
      <div class="header-lang">
        <button class="header-btn btn-reset btn">RU</button>
        <ul class="header-lang__list list-reset">
          <li class="header-lang__items"><a href="#">RU</a></li>
          <li class="header-lang__items"><a href="#">EN</a></li>
        </ul>
      </div>
      <p class="header-descr">Работаем в&nbsp;сфере здравоохранения.Наука и&nbsp;образование,
        лечение, поставка медицинского оборудования
      </p>
      <ul class="header-contacts__list list-reset">
        <li class="header-contacts__items header-contacts__items--whatsapp">
          <a href="https://wa.me/79200000000" class="header-contacts__links header-contacts__links--whatsapp">
          <svg width="24px" height="24px" fill="#9AC45E">
            <use xlink:href="img/sprite.svg#whatsapp"></use>
          </svg>
        </a>
        </li>
        <li class="header-contacts__items header-contacts__items">
          <a href="tel:+78001019776" class="header-contacts__links--num">8 (800) 101-97-76 <p>Пн — Пт с 9:00 до 18:00 </p></a>
        </li>
        <li class="header-contacts__items header-contacts__items--callback">
          <a href="#" class="btn header-contacts__links--callback">Заказать звонок</a>
        </li>
      </ul>
  </div>
  <div class="header-block__bottom">
    <ul class="header-block__bottom-list list-reset">
      <li class="header-block__bottom-items">
        <div class="dropdown">
          <button class="dropbtn">Оборудование</button>
          <div class="dropdown-content">
            <a href="#">Оборудование</a>
            <a href="#">Оборудование</a>
            <a href="#">Оборудование</a>
          </div>
        </div>
      </li>
      <li class="header-block__bottom-items">
        <a href="#" class="header-block__bottom-links">Образование</a>
      </li>
      <li class="header-block__bottom-items">
        <a href="#" class="header-block__bottom-links">Лечение</a>
      </li>
      <li class="header-block__bottom-items">
        <a href="#" class="header-block__bottom-links">Наука</a>
      </li>
      <li class="header-block__bottom-items">
        <a href="#" class="header-block__bottom-links">Спецпроекты</a>
      </li>
      <li class="header-block__bottom-items">
        <div class="dropdown">
          <button class="dropbtn">О компании</button>
          <div class="dropdown-content">
            <a href="#">О компании</a>
            <a href="#">О компании</a>
            <a href="#">О компании</a>
          </div>
        </div>
      </li>
      <li class="header-block__bottom-items header-block__bottom-items--last">
        <a href="#" class="header-block__bottom-links">Контакты</a>
      </li>
      <li class="header-btns header-block__bottom-items--search">
        <a href="#" class="header-btn__links">
          <svg width="24px" height="24px">
            <use xlink:href="img/sprite.svg#searchico"></use>
          </svg>
        </a>
      </li>
      <li class="header-btns header-block__bottom-items--variables">
        <a href="#" class="header-btn__links">
          <svg width="24px" height="24px">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
        </a>
      </li>
      <li class="header-btns header-block__bottom-items--card">
        <a href="#" class="header-btn__links">
          <svg width="24px" height="24px">
            <use xlink:href="img/sprite.svg#shopping-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>
